.errorOverlay{
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color:rgba(0,0,0,0.25);
}
.errorImage{
  width:100%;
  text-align: center;
}
.errorImage img{
  width:75%;
  min-height: 200px;
  max-height: 480px;
  min-width: 200px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}
.errorText{
  text-align: center;
  width:100%;
  font-weight: 700;
}