#pieChart{position:relative;text-align: center}
.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  min-width: 150px;
  font-size: 16px;
  font-weight: 700;
  padding: 12px;
  text-align: center;
  z-index: 10;
}

.tooltip .flag img{
  width: 40%;
  max-width: 150px;
  float: left;
  margin-right:6px;
}
.tooltip .strikes,.tooltip .percent{
  display: inline;
}
.tooltip .strikes{
  padding-right:6px;
}
.tooltip .percent{
  padding-left:6px;
}

@media screen and (max-width: 720px){
  #pieChart h4{
    padding-left:15px;
    padding-right:15px;
  }
}