#loading{
	display: flex;
	justify-content: center;
	align-items:center;
	height:100%;
	min-height: 300px;
	width:100%;
	text-align: center;
}
#countrySelector,#deathtoll{
	max-width: 1200px;
}
#countrySelector{
	max-width: 1200px;
	padding-top:20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
#countrySelector h3{text-align: center;}
#countrySelector>div{
	padding: 10px;
	cursor: pointer;
}
#countrySelector img{height: 100%;width: 100%;}
.startHeader{
	text-align: center;
}
.countryHeader{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}
.countryHeader h1{flex: 1 100%;}
.countryHeader h3{
	flex:1 auto;
	padding-bottom: 20px;
}
#deathToll strong{text-decoration:underline;}
.people>svg{margin:2px;}