
html,body{ 
    margin:0;
    height: 100%; 
    background-color: #F4F4F6;
}
body{
  display: flex;
  flex-direction: column;
}

.tabBar{
  background-color: #CCCCCC;
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    padding-top:20px;
    border-bottom: solid #4C4C4C 1px;
}
.tabControl{
    width: 30%;
    min-width: 100px;
    cursor: pointer;
    text-align: center;
    background-color:#D6D6D6;
    border: solid #4C4C4C 1px;
    margin-bottom:-1px;    
}
.tabControl.active{
  border-bottom-width: 0px;
  background-color: #F4F4F6;
}

#tab0,#tab1{flex-grow:1;}
#tab0{
  padding:25px;
  text-align: center;
}
.tab{
  display: none;
}
.tab.active{display: block; }


#pieChart,#countrySelector,#deathToll{
  margin-left: auto;
  margin-right: auto;
}
#pieChart{width: 75%;}
#countrySelector,#deathToll{
  width: 80%;
}



@media screen and (max-width: 720px){
  #pieChart,#countrySelector,#deathToll{
    width: 100%;
  }
}